.safari-headings{
    background-image: linear-gradient(to right, rgba(5, 5, 5, .1), rgba(5, 5, 5, .8)), url(../../images/King.jpg);
    background-size: cover;
    background-position: center;
    min-height: 25rem;
}
.safari-intro{
    margin-top: 5rem;
    margin-inline: 5rem;
    text-align: center;
}
.safari-type{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-block: 6rem;
}
.safari-intro{
    text-align: center;
}
.blog-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5rem;
}