.testimonials-section{
    margin-bottom: 6rem;
}
.testimonials-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragragh-content{
    color: var(--color-grey);
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: center;
}
@media screen and (max-width: 28.125em){
    .testimonials-intro{
        padding-inline: 2rem;
    }
    .paragragh-content{
        padding-inline: 2rem;
    }
}
.testimonials-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
