*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
::placeholder{
  font-family: inherit;
}
:root{
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Yantramanav", sans-serif;
  --tertiary-font: "Satisfy", cursive;
  --prime-font: "Libre Baskerville", serif;
  --color-white: #FFFFFF;
  --color-white-dark: #FFFFFFCC;
  --color-red: #F44C28;
  --color-grey: #858585;
  --border: .1rem solid var(--color-red);
}